.bioParagraph{
    margin: 3px;
    border-radius: 4px;
    border: solid azure 1px;
    background-color: azure;
    padding: 10px;
};

.bioPic{
    width: 20%;
    height: 20%;

}

body{
    background-color: darkslategray;
    color: darkslategray;
}

h2{
    text-align: center;
}




  /*size and shaping of portfolio pics and overlay text */
  .portPics{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 
  }
.pic {
  object-fit: cover;
  width: 100vw;
  height: 20vh;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(11, 60, 77);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-bottom: solid 5px antiquewhite;
  border-top: solid 5px antiquewhite;
}

.container:hover .overlay {
  opacity: 1;
  width: 100%;
} 

.text {
  color: antiquewhite;
  font-size: 30px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

}

.description{
    color: azure;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;

}

.tools{
  color: azure;
  font-size: 15px;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

}


.tools, .text, .description{

  background-color: rgb(11, 60, 77);
  border: none;
  color: azure;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
  text-decoration: none;

}
.tools:hover, .text:hover, .description:hover {
  opacity: 1;
  color: black;
  text-decoration: none;
}



/* Parallax effect below */
.parallax {
    /* The image used */
    background-image: url("../Images/city.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }